@use '../../../palette' as *;

.cell {
  width: 1.5vw;
  height: 1.5vw;
  border: black solid 1px;
  background-color: $secondary-button;
  &:hover {
    box-shadow: 0 2px 5px $text;
    cursor: pointer;
  }
}
.start {
  background-color: green;
}

.end {
  background-color: red;
}

.wall {
  background-color: $text;
}

.final {
  background-color: $primary-button;
}

.path {
  background-color: aqua;
}
